# Godot-specific ignores.

.godot/
.import/
export.cfg

.mono/
data_*/


# Allow-list of project addons.
addons/*
!addons/ColorPickerPresets

# Local overrides.
override.cfg


# Build artifacts and project exports.
build/**/
html_export/index.html
course/**/*.lgd

# Build system files.
__pycache__/
.venv


# Dev tools.

# Visual Studio Code
.vscode/
*.code-workspace


# Extra ignores.

# Custom templates.
templates/*
???custom-templates.zip

# Downloaded build files.
7z.so
butler
godot_server.x86_64
libc7zip.so
